<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p>Assignment 3 - <a href="/inv/detail/99" id="error-link">Error Link</a></p>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
</footer>